@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
html {
  overflow-x: hidden !important;
}
body {
  background-color: #131722 !important;
  color: #fff !important;
  font-family: "Montserrat Alternates", sans-serif;
}
ul,
a {
  list-style-type: none;
  text-decoration: none;
  color: #fff!important;
}
input,textarea
{
  background-color: transparent!important;
  color: #fff!important;
  resize: none;
}
input:focus,textarea:focus
{
  box-shadow: none!important;
  border-color: #fff!important;
}

